client/Connected Services/TestService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8302/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Test" />
  <xs:element name="Recording">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cursorX" type="xs:int" />
        <xs:element minOccurs="0" name="cursorY" type="xs:int" />
        <xs:element minOccurs="0" name="eventClick" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Test" minOccurs="0" name="RecordingResult" nillable="true" type="q1:ArrayOfEventsClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>